.socialIcons {
    
    text-align: center;

    &__icon {
        display: inline-block;
        width: 33%;
        height: 72px;
        fill: #fff;
        margin: 0 .875rem .875rem .875rem;
        background-color: $mainOrange;

        @include atSmall {
            width: 72px;
            height: 72px;
            margin-bottom: 0 1rem;
        }

        .icon {
            display: block;
            transform: scale(.5) translate(50%, 50%);                     
        }
    }
}