.wrapper {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    max-width: 1236px;  // border-box active adjust for padding
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;   // see _row 

    &--medium {
        max-width: 976px;
    }

    &--mobile {             // none for mobile and tablet
        padding-left: 0;
        padding-right: 0;

        @include atLarge{
            padding-left: 1.125rem;
            padding-right: 1.125rem;
        }
    }

    &--bottomMargin{
        margin-bottom: 1rem;

        @include atSmall{
            margin-bottom: 3.875rem;
        }
        
    }

    .wrapper {  
        padding-left: 0;
        padding-right: 0;
    }
    // cancels out padding only when a wrapper class found inside an existing wrapper    
}