body {
    font-family: 'Roboto', sans-serif;
    color: #333;
} 

img {
    max-width: 100%;    // this avoids horizontal scrolling
    height: auto;  
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;     // all links tags 
}